*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
li{
	list-style: none;
}
i{
	font-style: normal;
}
#container{
	width: 100%;
	position: relative;
	max-width: 640px;
	min-width: 32px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	padding-top:45px;
	padding-bottom:55px;
}

#topbar{
	height: 45px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #069;
	font-size: 20px;

}
#topbar>a{
	color:#fff;
	height: 45px;
	width: 45px;
	position: absolute;
	line-height: 45px;
	text-align: center;
	top: 0;
}
#topbar >a:first-of-type{
	left: 0;
}
#topbar >a:last-of-type{
	right: 0;
}
#topbar h4{
	margin: 0;
	padding: 0;
	font-weight: 400;
	color:#fff;
	line-height: 45px;
	text-align: center;
}


#content{
	width: 100%;
	position: relative;
	height: 100%;
}

#content .product{
	width: 100%;
	padding:10px;
}
#content .product li{
	width: 49%;
	float: left;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}
#content .product li a{
	color:#666;
}
#content .product li:nth-of-type(2n){
	float: right;

}
#content .product li img{
	width: 100%;
}
#content .product li div{
	text-align: center;
	margin-top: 5px;
}
#content .product li span{
	display: block;
	padding:0 5px;
}

#content .product li i{
	color:red;
}

#content .search{
	padding:10px;
	position: relative;
}
#content .search input{
	border: 1px solid #069;
	border-radius: 5px;
	font-size: 12px;
	height: 30px;
	margin: 0;
}
#content .search button{
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: #069;
	height: 30px;
	width: 60px;
	border: 0 5px 5px 0;

}
#foot{
	position: absolute;
	height: 55px;
	bottom: 0px;
	left: 0;
	background-color: #069;
	width: 100%;
}
#foot li{
	float: left;
	width: 25%;
	text-align: center;
	height: 100%;
	padding:8px 0;
}
#foot li a i{
	display: block;
}
#foot li a{
	color:#fff;
	font-size: 14px;
}
#foot li.now a{
	color:orange;
}