
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>乐淘-首页</title>
	<link rel="stylesheet" href="lib/mui/css/mui.min.css">
	<link rel="stylesheet" href="lib/fa/css/font-awesome.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/cart.css">
</head>
<body>
	<div id="container">
		<!-- 顶部 -->
		<header id="topbar">
			<a href="javascript:history.go(-1)">
				<i class="mui-icon mui-icon-arrowleft"></i>
			</a>
			<h4>购物车</h4>

			
		</header>
		<!-- 内容模块 -->
		<main id="content">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<!--这里放置真实显示的DOM内容-->


					<ul class="mui-table-view">
						<!-- 此处挖坑 -->

					</ul>
				</div>
			</div>

		</main>
		<!-- 总金额 -->
		<div class="total">
			<span>订单总金额:</span>
			<span >&yen;<span class="p">00.00</span></span>
			<a href="#" class="mui-pull-right">生成订单</a>
		</div>
		<!-- 底部 -->
		<div id="foot">
			<ul class="mui-clearfix">
				<li>
					<a href="index.html">
						<i class="fa fa-home"></i>
						首页
					</a>
				</li>
				<li>
					<a href="category.html">
						<i class="fa fa-bars"></i>
						分类
					</a>
				</li>
				<li class="now">
					<a href="cart.html">
						<i class="fa fa-shopping-cart"></i>
						购物车
					</a>
				</li>
				<li>
					<a href="user.html">
						<i class="fa fa-user"></i>
						会员中心
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/html" id="tpl">
		{{if(data.length==0)}}
		<p>没有更多的商品</p>
		<a href="index.html">去看看</a>
		{{/if}}
		{{each data v i}}
		<li class="mui-table-view-cell mui-transitioning mui-selected">
			<div class="mui-slider-right mui-disabled mui-selected">
				<a class="mui-btn mui-btn-blue mui-icon mui-icon-compose" data-id="{{v.id}}"
				data-productNum="{{v.productNum}}"
				data-productSize="{{v.productSize}}"
				data-size="{{v.size}}"
				data-num="{{v.num}}"
				 ></a>
				<a class="mui-btn mui-btn-red mui-icon mui-icon-trash btn-delete" data-id="{{v.id}}"></a>
			</div>
			<div class="mui-slider-handle">
				<div class="mui-table-cell">
					<div class="item-left">
						<img src="{{v.pic[0].picAddr}}" alt="">
					</div>
					<div class="item-right">
						<p class="proName">{{v.proName}}</p>
						<p><span class="price">&yen;{{v.price}}</span><span class="oldPrice">&yen;{{v.oldPrice}}</span> <span class="num mui-pull-right">{{v.num}}双</span></p>
						<p>鞋码:&nbsp;{{v.size}}</p>
					</div>
					<input type="checkbox" data-price="{{v.price}}" data-num="{{v.num}}">
				</div>
			</div>
		</li>
		{{/each}}
	</script>
	<script type="text/html" id="tpl2">
		<div class="size">
				尺码：
				<% var temp = productsize.split('-') 
				for(var i = temp[0];i<temp[1];i++) { %>
				<span class="{{i==+size?'now':''}}"><%= i %></span>
				<% } %>

			</div>
			<div class="num">
				库存：
				<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0' data-numbox-max='{{productnum}}'>
					<button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
					<input class="mui-numbox-input" type="number" value="{{num}}" />
					<button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
				</div>
			</div>
	</script>
	<script src="lib/mui/js/mui.js"></script>
	<script src="lib/zepto/zepto.min.js"></script>
	<script src="lib/artTemplate/template-web.js"></script>
	<script src="js/common.js"></script>
	<script src="js/cart.js"></script>
</body>
</html>